const day: ColorFamily = {
  elevationVeilColor: 'transparent',
  gradientColorBase: '100%',
  gray: {
    00': '#ffffff',
    02': '#f6f6f6',
    03': '#ebecec',
    05': '#dddfdf',
    10: '#cacdcd',
    20: '#b5b8b8',
    30: '#9ea1a1',
    40: '#898c8e',
    50: '#76797c',
    60: '#64686a',
    70: '#545659',
    80: '#434547',
    90: '#333436',
    100: '#202121',
  },
  blue: {
    02': '#f1f9fc',
    03': '#dbf0f7',
    05': '#b4e8f4',
    10: '#84daed',
    20: '#5bc5de',
    30: '#39aecb',
    40: '#1698b8',
    50: '#0383a4',
    60: '#066f90',
    70: '#055c7f',
    80: '#00496f',
    90: '#00365d',
  },
  green: {
    02': '#f8f8ef',
    03': '#eeefc9',
    05': '#e0e594',
    10: '#c6d64e',
    20: '#a7c41a',
    30: '#83af1d',
    40: '#679a1e',
    50: '#4e871c',
    60: '#367419',
    70: '#206218',
    80: '#0f511a',
    90: '#023d18',
  },
  yellow: {
    02': '#faf8ed',
    03': '#faecb4',
    05': '#fedd73',
    10: '#f9c636',
    20: '#f1ab0d',
    30: '#e68c03',
    40: '#d87000',
    50: '#c85704',
    60: '#b14402',
    70: '#9a3301',
    80: '#812401',
    90: '#621c00',
  },
  danger: {
    02': '#fef5ee',
    03': '#fee7da',
    05': '#fed7c8',
    10: '#febfaa',
    20: '#ff9f84',
    30: '#fa7c61',
    40: '#eb5e47',
    50: '#da4234',
    60: '#c32b26',
    70: '#a9191d',
    80: '#8a1317',
    90: '#6b0c11',
  },
  red: {
    02': '#fef6f4',
    03': '#fee6e2',
    05': '#fed6d6',
    10: '#febbc4',
    20: '#fd9cae',
    30: '#f87895',
    40: '#ec577f',
    50: '#d6406e',
    60: '#c0285c',
    70: '#a90e4b',
    80: '#8a0a3c',
    90: '#6b062d',
  },

  purple: {
    02': '#f9f4fe',
    03': '#f3e9fa',
    05': '#ead8fb',
    10: '#dec3f6',
    20: '#d0a8f3',
    30: '#bf89f1',
    40: '#af6eeb',
    50: '#9e56db',
    60: '#8c3fcc',
    70: '#792cb6',
    80: '#632296',
    90: '#4d1577',
  },
}